.text {
    color: #ece9e5;
    letter-spacing: 10px;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0 50px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    opacity: 0; 
    transform: translateY(-50px); 
}

.blue:hover{
    color: #2664aa;
}

.red:hover{
    color: #eb3939;
}
.green:hover{
    color: #3e8e41;
}
.yellow:hover{
    color: #f7dc6f;
}

.hidden {
    opacity: 0;
    transform: translateY(-50px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.logo {
    height: 70px;
    width: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    animation: scaleLogo 4s infinite; 
}

@keyframes scaleLogo {
    0% {
        transform: scale(1); /
    }
    33% {
        transform: scale(1.2); 
    }
    66% {
        transform: scale(1.5); 
    }
    100% {
        transform: scale(1); 
    }
}

.logoContainer:hover .logo {
    animation-play-state: running; 
}

.cont {
    background-color: #0c0b0b;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: relative;
}
